= semantic_form_for @shouty, :remote => true do |form|
  = form.inputs do
    = form.input :body, :label => false
  = form.buttons do
    = form.commit_button :label => "shoutt!"

.shouties= render :partial => "shared/shouty", :collection => @shouties

= link_to t(:update), fetch_shouties_path, :remote => true, :id => "update_shouties"
