<h1>Listing shouties</h1>

<table>
  <tr>
    <th>User</th>
    <th>Date</th>
    <th>Body</th>
  </tr>

<% @shouties.each do |shouty| %>
  <tr>
    <td><%=h shouty.user %></td>
    <td><%=h shouty.date %></td>
    <td><%=h shouty.body %></td>
    <td><%= link_to 'Show', shouty %></td>
    <td><%= link_to 'Edit', edit_shouty_path(shouty) %></td>
    <td><%= link_to 'Destroy', shouty, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New shouty', new_shouty_path %>