<p>
  <b>User:</b>
  <%=h @shouty.user %>
</p>

<p>
  <b>Date:</b>
  <%=h @shouty.date %>
</p>

<p>
  <b>Body:</b>
  <%=h @shouty.body %>
</p>


<%= link_to 'Edit', edit_shouty_path(@shouty) %> |
<%= link_to 'Back', shouties_path %>