<h2>Sign up</h2>

<%= semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |form| %>
  <%= devise_error_messages! %>
  <%= form.inputs :login, :email, :password, :password_confirmation %>
  <%= form.buttons %>
<% end %>

<%= render :partial => "devise/shared/links" %>
