.shouty
  .avatar= gravatar_for shouty.user
  .body= auto_link(shouty.body, :html => {:target => "_blank"})
  .user= shouty.user.login
  .date= "#{time_ago_in_words(shouty.created_at)} #{I18n.t(:ago)}"
